/* секция конверта (высота экрана, центрируем содержимое) */
.sectionConvert { 
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 50px;
   
}

/* сам блок с конвертом */
.convertBlock {
  width: 300px;      /* размер блока на мобилке */
  height: 590px;
  background-image: url('../../assets/convert.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  /* полностью помещается */
   box-shadow: 0 0 20px #202020;
   border-top-right-radius:100px;
   border-top-left-radius:100px;
    border-bottom-right-radius:30px;
   border-bottom-left-radius:30px;
   display: flex;
  flex-direction: column;
  justify-content: flex-end; /* кнопки снизу */
  align-items: center;
  padding-bottom: 100px;
}
.buttonsContainer {
  display: flex;
  gap: 10px;
 
}

.convertBtn {
  padding: 60px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffb6b9;
  color: white;
  transition: transform 0.2s, background-color 0.2s;
  opacity: 0;
}

.convertBtn:hover {
 
  background-color: #ff9aa2;
}
/* версия для ПК */
@media(min-width: 1024px) {
  .convertBlock {
    width:800px;   /* шире */
    height: 600px;  /* выше */
    background-image: url('../../assets/convertLong.jpg');
    box-shadow: 0 0 20px  #202020;
   border-top-right-radius:100px;
   border-top-left-radius:100px;
    border-bottom-right-radius:30px;
   border-bottom-left-radius:30px;
    transition: width 0.3s ease,height 0.3s ease,box-shadow 0.3s ease,border-radius 0.3s ease;
  }
  .convertBlock:hover{ 
     width:1100px;
      height: 570px;
      box-shadow: 0 0 20px  #7a1f2b;
      border-bottom-right-radius:100px;
   border-bottom-left-radius:100px;
  }
}