.containerInvite{ 
     width: 100%;
 height: 100vh; 
 display: flex;
flex-direction: column;
align-items: center;
position: relative;
overflow: hidden;
box-shadow: 0 0 6px black;
}


.topBlock {
  height: 70%;
  width: 100%;
  background-color: #fff5ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
gap: 20px;
  text-align: center;
  padding-top:20px ;
}

.tittle {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-size: 40px;
  color:#080725;
  margin-bottom: 20px;
}

.centerText {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color:#7a1f2b;
}
.bottomText {
  font-family: "Merriweather", serif;
  font-weight:700;
  font-size: 20px;
  color:#080725;
  margin-top: 10px;
 
}
/* Плавающий квадрат */
.photoSquare {
  width: 400px; /* размер квадрата */
  height: 400px;
  background-color: #fff; /* можно белый фон */
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  top: 70%; /* примерно над нижним блоком */
  left: 50%;
  transform: translate(-50%, -50%); /* центрируем по горизонтали и вертикали */
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2; /* чтобы поверх блоков */
  padding-top: 20px;
  margin-top: 20px;
}

.photoInside {
  width: 80%;
  height: 70%; /* чуть меньше, чтобы текст помещался */
  object-fit: cover;
  overflow: hidden;
 border-radius: 30px;
 box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Контейнер текста под фото */
.textUnderPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

/* Первая строка — "Любите" */
.line1 {
  font-family: "Marck Script", cursive;
  font-size: 28px;
  color: #7a1f2b;
  font-weight: 400;
}

/* Вторая строка — "каждый день всё сильнее" */
.line2 {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #2b2b2b;
  font-weight: 500;
  line-height: 1.4;
}


/* Нижний блок */
.bottomBlock {
  height: 30%;
  width: 100%;
  background-color: #080725;
  position: relative;
  z-index: 1;
}
/* Адаптив для телефонов */
@media (max-width: 480px) {
  .tittle {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .centerText {
    font-size: 12px;
    line-height: 1.3;
    padding: 0 10px;
  }

  .bottomText {
    font-size: 14px;
    margin-top: 8px;
  }

  .photoSquare {
    width: 250px;
    height: 250px;
    padding-top: 10px;
    top: 65%;
  }

  .photoInside {
    width: 85%;
    height: 60%;
  }

  .line1 {
    font-size: 20px;
  }

  .line2 {
    font-size: 14px;
    line-height: 1.2;
  }
}