.containerApp {
  background-color: #fff5ef;
  min-height: 100vh;      
  width: 100%;             
  max-width: 100vw;        
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;        
  overflow-x: hidden;      
  box-sizing: border-box; 
  scroll-behavior: smooth; 
}
.section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start; 
 
}
