@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/** 

font-family: "Great Vibes", cursive;
 font-weight: 400;
font-style: normal; 


**/

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/** 
font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; 
    **/

   @import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

   /** font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем скролл и делаем 100% высоты */
html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}